@page "/CommentList"
@page "/CommentList/{Log}"
@using MdcLog.Application;
@using MdcLog.Domain;
@using MdcLog.Domain.Entities;
@using System.Text
@using MdcLog.Application.Comments.Models;
@using MdcLog.Application.Comments;
@using MdcLog.UI.Components
@inject DialogService dialogService
<h3>Comments List</h3>



<RadzenButton Text="Create" Click="() => { showCreate = true; passTitle = createTitle; } "
              ButtonStyle="ButtonStyle.Secondary" Style="margin-bottom: 10px; width: 150px" />

<RadzenGrid TValue="string" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="5"
            AllowSorting="true" Data="@_types" TItem="LogCommentView"
            ValueProperty="Comment"
            Style="overflow:auto;width:unset">

    <Columns>
        <RadzenGridColumn TItem="LogCommentView" Property="@nameof(LogCommentView.SeqNum)" Title="Comment Id" Width="60px" />
        <RadzenGridColumn TItem="LogCommentView" Property="@nameof(LogCommentView.LogNumber)" Title="Log" Width="30px" />
        <RadzenGridColumn TItem="LogCommentView" Property="@nameof(LogCommentView.TypeDesc)" Title="Type" Width="60px" />
        <RadzenGridColumn TItem="LogCommentView" Property="@nameof(LogCommentView.LinkToSeqNum)" Title="Link To Comment" Width="80px" />
        <RadzenGridColumn TItem="LogCommentView" Property="@nameof(LogCommentView.BasicNumber)" Title="Basic #" Width="50px" />
        <RadzenGridColumn TItem="LogCommentView" Property="@nameof(LogCommentView.CreatedBy)" Title="Created By" Width="60px" />
        <RadzenGridColumn TItem="LogCommentView" Property="@nameof(LogCommentView.CreateDate)" Title="Created" Width="60px">
            <Template Context="LogCommentView">
                @String.Format("{0:d}", LogCommentView.CreateDate)
            </Template>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="LogCommentView" Property="@nameof(LogCommentView.Comment)" Title="Comment" Width="200px">
            <Template Context="LogComment">
                <textarea readonly rows="3" cols="50" class="w-auto">@LogComment.Comment</textarea>
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>
@*Attach Modal Dialog Component and load the create comment page*@
<MdcLog.UI.Components.ModelsModal Title=@passTitle Visible="showCreate" ModalSize="large">
    <CreateLogComment OnClose="CloseDialog" />
</MdcLog.UI.Components.ModelsModal>




@code {
    // This page has an example of usding the Modal dialo cvomponent//
    [Inject]
    private LogCommentService service { get; set; }

    private List<LogCommentView> _types { get; set; }
    [Parameter]
    public string Log { get; set; }
    private bool showCreate { get; set; }

    private string switchValue { get; set; }
    private string editCode { get; set; }

    private string createTitle { get; set; }

    private string passTitle { get; set; }
    private string passSize { get; set; }

    protected override void OnInitialized()

    {
        base.OnInitialized();
        if ( Log != "100")
        {
            Log = "100";
        }
        _types = service.FindCommentList(Log).ToList();
        createTitle = "Create Comment ";

    }
    protected override void OnParametersSet()
    {
        //the param will be set now
        var test = Log;
    }
    private void CloseDialog(bool wasSaved)
    {

        if (showCreate == true)
        {
            showCreate = false;
        }


        if (wasSaved)
        {
            _types = service.FindCommentList(Log).ToList();
        }
    }


}
