@page "/CommentTypes/Delete"
@page "/CommentTypes/Delete/{typecode}"

@using MdcLog.Application.CommentTypes.Models
@using MdcLog.Application.CommentTypes




<RadzenCard>
    <RadzenTemplateForm TItem="DeleteCommentTypeVM" Data="@entity" Submit="@OnSubmit" InvalidSubmit="@OnInvalidSubmit">
        <div class="row" style="margin-bottom: 48px">
            <div class="col-md-12">
                <Radzen.Blazor.RadzenFieldset Text="" Style="border:outset">
                    <div class="row">
                        <div class="col-sm-3 align-items-center d-flex">
                            <RadzenLabel Text="Type" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 30%;" ReadOnly="true" Name="CommentTypeCode" @bind-Value="entity.CommentTypeCode" />
                            <RadzenRequiredValidator Component="CommentTypeCode" Text="Type is required" Popup="@true" Style="position:relative" />
                            <RadzenLengthValidator Component="CommentTypeCode" Max="2" Text="Type Code cannot be more than 2 characters" Popup="@true" Style="position: sticky" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-3 align-items-center d-flex">
                            <RadzenLabel Text="Description" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 55%;" Name="TypeDesc" @bind-Value="entity.TypeDesc" />
                            <RadzenRequiredValidator Component="TypeDesc" Text="Description is required" Popup="@true" Style="position:sticky" />
                            <RadzenLengthValidator Component="TypeDesc" Max="12" Text="Description cannot be more than 12 characters" Popup="@true" Style="position: sticky" />
                        </div>
                    </div>

                </Radzen.Blazor.RadzenFieldset>
            </div>
        </div>
        <RadzenButton ButtonType="ButtonType.Submit" Text="Delete"></RadzenButton>
        <RadzenButton Text="Cancel" Click="() => OnClose.InvokeAsync(false)" ButtonStyle="ButtonStyle.Secondary" Style="margin-bottom: 10px; width: 150px" />
    </RadzenTemplateForm>
</RadzenCard>


@code {
    [Inject] private CommentTypeService service { get; set; }
    [Inject] NotificationService notificationService { get; set; }
    [Inject] NavigationManager navigationManager { get; set; }

    private DeleteCommentTypeVM entity { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public string Typecode { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        entity = service.GetDeleteCommentTypeVM();
        entity = service.FindDeleteType(Typecode);
    }

    protected void OnSubmit()
    {
       entity = service.DeleteType(entity);
        notificationService.Notify(NotificationSeverity.Success, "Type Code " + entity.CommentTypeCode + " Deleted Successfully.");
        //navigationManager.NavigateTo("/CommentTypesList");

        OnClose.InvokeAsync(true);
    }

    protected void OnInvalidSubmit()
    {
        notificationService.Notify(NotificationSeverity.Warning, "Please fix issues.");
    }
    async Task ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);


        await InvokeAsync(() => { StateHasChanged(); });
    }
}

