@page "/HandlerCodes/CreateHandlerCode"


@using MdcLog.Application.HandlerCodes.Models
@using MdcLog.Application.HandlerCodes

<RadzenCard>
    <RadzenTemplateForm TItem="CreateHandlerCodeVM" Data="@entity" Submit="@OnSubmit" InvalidSubmit="@OnInvalidSubmit">
        <div class="row" style="margin-bottom: 48px">
            <div class="col-md-12">
                <Radzen.Blazor.RadzenFieldset Text="Handler Code" Style="border:outset">
                    <div class="row">
                        <div class="col-sm-3 align-items-center d-flex">
                            <RadzenLabel Text="Code" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 30%;" Name="Code" @bind-Value="entity.Code" />
                            <RadzenRequiredValidator Component="Code" Text="Code is required" Popup="@true" Style="position:relative" />
                            <RadzenLengthValidator Component="Code" Max="1" Text="Code cannot be more than 1 characters" Popup="@true" Style="position: sticky" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-3 align-items-center d-flex">
                            <RadzenLabel Text="Description" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Descr" @bind-Value="entity.Descr" />
                            <RadzenRequiredValidator Component="Descr" Text="Description is required" Popup="@true" Style="position:sticky" />
                            <RadzenLengthValidator Component="Descr" Max="50" Text="Description cannot be more than 50 characters" Popup="@true" Style="position: sticky" />
                        </div>
                    </div>

                </Radzen.Blazor.RadzenFieldset>
            </div>
        </div>
        <RadzenButton ButtonType="ButtonType.Submit" Text="Create Handler Code"></RadzenButton>
        <RadzenButton Text="Cancel" Click="() => OnClose.InvokeAsync(false)" ButtonStyle="ButtonStyle.Secondary" Style="margin-bottom: 10px; width: 150px" />
    </RadzenTemplateForm>
</RadzenCard>



@code {
    [Inject] private HandlerCodeService service { get; set; }
    [Inject] NotificationService notificationService { get; set; }
    [Inject] NavigationManager navigationManager { get; set; }

    private CreateHandlerCodeVM entity { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        entity = service.GetCreateHandlerCodeVM();

    }

    protected void OnSubmit()
    {
        entity = service.  InsertHandlerCode(entity);

        notificationService.Notify(NotificationSeverity.Success, "Handler Code " + entity.Code + " Created Successfully.");
        //navigationManager.NavigateTo("/CommentTypesList");

        OnClose.InvokeAsync(true);
    }

    protected void OnInvalidSubmit()
    {
        notificationService.Notify(NotificationSeverity.Warning, "Please fix issues.");
    }
    async Task ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);

        await InvokeAsync(() => { StateHasChanged(); });
    }

}

