@inherits Users.ViewBase
@page "/Users/View/{UserIdSeqNum:int}"

@if (IsReadonly)
{
    <h1>View</h1>
}
else
{
    <h1>Editing</h1>
}

<p>
    <MatTextField @bind-Value="@User.UserId" Label="User Id"  Outlined="true" ReadOnly="IsReadonly"/>
</p>
<p>
    <MatTextField @bind-Value="@User.FullName" Label="Full Name" Outlined="true" ReadOnly="IsReadonly" />
</p>
<p>
    <MatTextField @bind-Value="@User.Activity" Label="Activity" Outlined="true" ReadOnly="IsReadonly"/>
</p>
<p>
    <MatTextField @bind-Value="@User.Subactivity" Label="Subactivity" Outlined="true" ReadOnly="IsReadonly" />
</p>
<p>
    <MatTextField @bind-Value="@User.Owner" Label="Owner" Outlined="true" ReadOnly="IsReadonly"/>
</p>
<p>
    <MatTextField @bind-Value="@User.PhoneNumber" Label="Phone Number" Outlined="true" ReadOnly="IsReadonly" />
</p>


@if (IsReadonly)
{
    <MatButton Icon="edit" OnClick="ToggleEdit" Raised="true">Edit</MatButton>
}
else
{
    <MatButton Icon="cancel" OnClick="RefreshPage" Raised="true" Style="background-color: red;">Cancel</MatButton>
    <MatButton Icon="save" OnClick="Submit" Raised="true">Save</MatButton>
}
