@model MDCLogArchitecture.Models.DomainModels.LogComments
    <tr>
        <td>
            @Model.SeqNum
        </td>
        <td>
            @Model.LogNumber
        </td>
        <td>
            @Model.BasicNumber
        </td>
        <td>
            @Model.TypeDesc
        </td>
        <td>
            
            @Model.CreatedBy
        </td>
        <td>

            @Model.Comment
        </td>
        <td>
            <a asp-page="/Comments/EditComments" asp-route-SeqNum="@Model.SeqNum" asp- class="btn btn-primary">Details</a>
        </td>
    </tr>