@page "/PriorityCodes/Delete"
@page "/PriorityCodes/Delete/{priority}"

@using MdcLog.Application.Priorties.Models;
@using MdcLog.Application.Priorties;


<RadzenCard>
    <RadzenTemplateForm TItem="DeletePriorityCodeVM" Data="@entity" Submit="@OnSubmit" InvalidSubmit="@OnInvalidSubmit">
        <div class="row" style="margin-bottom: 48px">
            <div class="col-md-12">
                <Radzen.Blazor.RadzenFieldset Text="Priority Code" Style="border:outset">
                    <div class="row">
                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="PRIORITY" />
                        </div>
                        <div class="col-md-12">
                            <RadzenNumeric style="width: 100%;" ReadOnly="true" Name="Priority" @bind-Value="entity.Priority" />
                            <RadzenRequiredValidator Component="Priority" Text="Priority Code is required" Popup="@true" Style="position:sticky" />
                            <RadzenLengthValidator Component="Priority" Max="1" Text="Priority cannot be more than 1 characters" Popup="@true" Style="position: sticky" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="DESCR" />
                        </div>
                        <div class="col-md-12">
                            <RadzenTextBox style="width: 100%;" ReadOnly="true" Name="Descr" @bind-Value="entity.Descr" />
                            <RadzenRequiredValidator Component="Descr" Text="Description is required" Popup="@true" Style="position:sticky" />
                            <RadzenLengthValidator Component="Descr" Max="50" Text="Description cannot be more than 50 character" Popup="@true" Style="position: sticky" />
                        </div>
                    </div>
                    <br />
                </Radzen.Blazor.RadzenFieldset>
            </div>
        </div>
        <RadzenButton ButtonType="ButtonType.Submit" Text="Delete Priority Code"></RadzenButton>
        <RadzenButton Text="Cancel" Click="() => OnClose.InvokeAsync(false)" ButtonStyle="ButtonStyle.Secondary" Style="margin-bottom: 10px; width: 150px" />
    </RadzenTemplateForm>
</RadzenCard>


@code {
    [Inject] private PriorityCodeService service { get; set; }
    [Inject] NotificationService notificationService { get; set; }
    [Inject] NavigationManager navigationManager { get; set; }


    private DeletePriorityCodeVM entity { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public int priority { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        entity = service.FindDeletePriorityCode(priority);
    }

    protected void OnSubmit()
    {
        entity = service.DeletePriorityCode(entity);

        notificationService.Notify(NotificationSeverity.Success, "Priority Code " + entity.Priority + " Deleted Successfully.");        

        OnClose.InvokeAsync(true);
    }

    protected void OnInvalidSubmit()
    {
        notificationService.Notify(NotificationSeverity.Warning, "Please fix issues.");
    }

    async Task ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);


        await InvokeAsync(() => { StateHasChanged(); });
    }
}
